.layout {
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
    padding: 32px;

    .page_title {
        color: #222;
        font-family: Lab Grotesque;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.52px;
    }
}
